@import "fonts";
@import "libs";
@import "vars";

@font-face {
	font-family: 'Century Italic';
	src: url('../fonts/CenturyGothic-Italic.eot');
	src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
		url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Italic.woff') format('woff'),
		url('../fonts/CenturyGothic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/CenturyGothic.eot');
	src: local('Century Gothic'), local('CenturyGothic'),
		url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic.woff') format('woff'),
		url('../fonts/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Bold';
	src: url('../fonts/CenturyGothic-Bold.eot');
	src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
		url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Century BoldItalic';
	src: url('../fonts/CenturyGothic-BoldItalic.eot');
	src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
		url('../fonts/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-BoldItalic.woff') format('woff'),
		url('../fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Century Gothic', sans-serif;
	scroll-behavior: smooth;
}
p{
	font-weight: 300;
	color: #111;
}
body{
	
	
}

.wrapper{
	    max-width: $container;
	    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


h2{
	color: #111111;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 130%;
}
a{
		color: #2B74B9;	
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 130%;
	}
.hero{
	background: #173817;
	padding-top: 80px;
	padding-bottom: 80px;
	.responsive{
		.item{
			position: relative;
			    text-align: center;
			        top: 40px;
			    ul{
			    	background: #DBD978;
                     border-radius: 30px;
                     top: -38px;
                     position: absolute;
			    	li{
                         display: flex;
                         padding: 3px;

			    		a{
							margin-right: 8px;
							margin-left: 8px;
			    		}
			    	}
			    }
			.item_img{
				position: absolute;
				top: 12px;
                left: 6%;
                 transform: translate (-50%, 0);
				img{
					max-width: 274.11px;
	                max-height: 380.71px;
				}
			}
			h3{
				margin-top: 16px;
				margin-bottom: 8px;
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 28px;
				
				color: #FFFFFF;
			}
			p{
				font-size: 18px;
				line-height: 21px;
				

				color: #FFFFFF;
			}
		}
	}
}


.about{
	background: #FF97B3;
	padding-top: 47px;
	padding-bottom: 47px;
	&__wraper{
		display: flex;
		&-item{
			width: 50%;
			position: relative;
			.mill_one{
			    left: -18%;
			    position: absolute;
			   animation: prld_one 3s linear infinite ;
			}
			.mill_two{
				position: absolute;
				bottom: 0;
				z-index: 2;
                left: 10%;
			}
			h2{
				color: #FFFFFF;
				font-style: normal;
				font-weight: 400;
				font-size: 82px;
				line-height: 94px;
				margin-top: 68px;
				margin-bottom: 30px;
			}
			p{
				color: rgba(255, 255, 255, 0.8);
				font-style: normal;
				font-weight: 400;
				font-size: 21px;
				line-height: 150%;
			}
			a{
				background: #FF97B3;
				border-radius: 30px;
				display: inline-block;
				margin-top: 32px;
				padding: 18px 75px;
			}

		}
		.bg{
           background: url('../img/about.png');
           padding-left: 47px;
           padding-bottom: 165px;
           max-width: 656px;
           min-height: 767px;
		}
	}
}



@keyframes prld_one{
	0%{
		transform: rotate(0deg);
	}

	50%{
		transform:  rotate(160deg);
	}
	100%{
		transform:  rotate(360deg);
	}
}
	


.contact{
	background: #B3DFB3;
	padding-top: 80px;
	padding-bottom: 20px;
	h2{
		text-align: center;
		color: #31363D;
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 42px;
	}
	.form {
		  max-width: 787px;
		  margin: 0 auto;
		  margin-top: 32px;
		}
		.form-title {
		  text-align: center;
		}
		.form-group {
		  position: relative;
		  margin-bottom: 33px;
		  .label{
		  	color: #31363D;
		  	margin-top: 32px;
		  }
		  input::placeholder {
           color: #A9A9A9;
		  }
		}
		.form-input,
		.form-textarea {
		  width: 100%;
		  border: 1px solid #ccc;
		  padding: 10px;
		  border-radius: 16px;
		}
		
		.form-input.error,
		.form-textarea.error {
		   border: 2px solid #D1003F;
		   color: #D1003F;
		}
		input.error::placeholder{
			 color: #D1003F;
		}

		label.error {
		  position: absolute;
		  left:0%;
		  width: 100%;
		  margin-left: 10px;
		  top: 115%;
		  transform: translateY(-50%);
		  display: inline-block;
		 color: #D1003F;
		  font-size: 13px;
		}
		.form-textarea {
		  font-family: Arial, sans-serif;
		  resize: vertical;
		}
		.form-btn {
		  
		  display: block;
		  border: 0;
		  padding: 10px;
		  background: #A9A9A9;
          border-radius: 16px;
		  text-align: center;
		
		  color: #fff;
		}
		.form-btn:hover {
		  background: #008751;
		  cursor: pointer;
		}
		.message {
		  padding: 10px;
		  margin-bottom: 20px;
		  background-color: #efa0a0;
		  color: #cc5555;
		  text-align: center;
		  font-size: 14px;
		}
		.message:empty {
		  display: none;
		}
}




@media (max-width: 480px){
.hero{
   .responsive{
     .item{
     	left: 50px;
     }	
   }	
}  	
.about{
	&__wraper{
		display: block;
		&-item{
			width: 100%;
		}
		.mill_one{
			animation: none;
			width:100%;
			left: -8%;
            top: -13%;
		}
		.mill_two{
			position: relative;
			    bottom: -65px;
		}
	}
}

.contact{
   .form{
   	padding-left: 15px;
   	padding-right: 15px;
   	width: 100%;
   }	
} 
	

	

   
}

 
@import "media"; // Всегда в конце
